# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022 Plata Hill <plata.hill@kdemail.net>

[Desktop Entry]
Name=Telly Skout
Name[ca]=Telly Skout
Name[ca@valencia]=Telly Skout
Name[cs]=Telly Skout
Name[de]=Telly Skout
Name[en_GB]=Telly Skout
Name[eo]=Telly Skout
Name[es]=Telly Skout
Name[eu]=Telly Skout
Name[fi]=Telly Skout
Name[fr]=Telly Skout
Name[gl]=Telly Skout
Name[he]=Telly Skout
Name[hu]=Telly Skout
Name[it]=Telly Skout
Name[ka]=Telly Skout
Name[ko]=Telly Skout
Name[lv]=Telly Skout
Name[nl]=Telly Skout
Name[pl]=Telly Skout
Name[pt]=Telly Skout
Name[pt_BR]=Telly Skout
Name[ru]=Telly Skout
Name[sl]=Telly Skout
Name[sv]=Teve-skout
Name[tr]=Televizyon Çocuğu
Name[uk]=Теллі скаут
Name[x-test]=xxTelly Skoutxx
Name[zh_TW]=Telly Skout
Comment=Convergent TV guide
Comment[ca]=Guia de TV convergent
Comment[ca@valencia]=Guia de TV convergent
Comment[de]=Zusammenführung diverser Fernsehprogrammführer
Comment[en_GB]=Convergent TV guide
Comment[eo]=Konverĝa televid-gvidilo
Comment[es]=Guía de TV convergente
Comment[eu]=TBko gida konbergentea
Comment[fi]=Mukautuva TV-opas
Comment[fr]=Guide convergent de télévision
Comment[gl]=Guía de televisión converxente.
Comment[he]=לוח שידורים אחוד
Comment[hu]=Konvergens TV-műsor
Comment[it]=Guida TV convergente
Comment[ka]=კონვერგენტული სატელევიზიო სახელმძღვანელო
Comment[ko]=올인원 TV 가이드
Comment[lv]=Konverģenta TV programma
Comment[nl]=Convergente TV gids
Comment[pl]=Zbieżny przegląd programów TV
Comment[pt]=Guia de TV convergente
Comment[pt_BR]=Guia de TV convergente
Comment[ru]=Универсальная программа телепередач
Comment[sk]=Konvergentný TV sprievodca
Comment[sl]=Konvergentni TV vodnik
Comment[sv]=Konvergent tv-guide
Comment[tr]=Yakınsak TV Kılavuzu
Comment[uk]=Універсальна телепрограма
Comment[x-test]=xxConvergent TV guidexx
Comment[zh_TW]=響應式電視節目表
Version=1.0
Exec=telly-skout
MimeType=application/x-telly-skout;
Icon=org.kde.telly-skout
Type=Application
Terminal=false
Categories=AudioVideo;Video;TV;KDE;Qt;
