# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: none

[Desktop Entry]
Name=telly-skout
Comment=Convergent EPG
Version=1.0
Exec=telly-skout
MimeType=application/x-telly-skout;
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
