# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: none

[Desktop Entry]
Name=telly-skout
Name[ca]=telly-skout
Name[ca@valencia]=telly-skout
Name[de]=telly-skout
Name[es]=telly-skout
Name[fr]=telly-skout
Name[it]=telly-skout
Name[ka]=telly-skout
Name[ko]=telly-skout
Name[nl]=telly-skout
Name[pt]=telly-skout
Name[sk]=telly-skout
Name[sl]=telly-skout
Name[sv]=telly-skout
Name[uk]=Теллі скаут
Name[x-test]=xxtelly-skoutxx
Comment=Convergent TV guide
Comment[ca]=Guia de TV convergent
Comment[ca@valencia]=Guia de TV convergent
Comment[es]=Guía de TV convergente
Comment[fr]=Guide convergent de télévision
Comment[it]=Guida TV convergente
Comment[ka]=კონვერგენტული სატელევიზიო სახელმძღვანელო
Comment[ko]=올인원 TV 가이드
Comment[nl]=Convergente TV gids
Comment[pt]=Guia de TV convergente
Comment[sk]=Konvergentný TV sprievodca
Comment[sl]=Konvergentni TV vodnik
Comment[sv]=Konvergent tv-guide
Comment[uk]=Універсальна телепрограма
Comment[x-test]=xxConvergent TV guidexx
Version=1.0
Exec=telly-skout
MimeType=application/x-telly-skout;
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
